@import "tailwindcss";

:root{
  --bg:#ffffff;
  --surface:#ffffff;
  --soft:#E8F3FF;
  --soft2:#F3F8FF;
  --border:#E4E9EE;
  --primary:#0A66C2;
  --primaryDark:#004182;
  --text:#0B1220;
  --muted:#5E6A75;
}

body { background: var(--bg); color: var(--text); }

.bg-soft{background:var(--soft);}
.bg-soft2{background:var(--soft2);}
.border-app{border-color:var(--border);}
.text-muted{color:var(--muted);}
.btn-primary{background:var(--primary);color:white;}
.btn-primary:hover{background:var(--primaryDark);}
.btn-secondary{border:1px solid var(--border); background:var(--surface); color:var(--text);}
.link-primary{color:var(--primary);}
